.parent
{
    position: absolute;
    height:100%;
    width:15%;
    background-color:#34383E;
}
.children
{
    height:50%;
    width: 100%;
    float:left;
    background-color: #34383E;
   
}
.box
{
    height: 25%;
    width: 100%;
    float: left;
    background-color: #34383E;
    border-bottom: 1px solid #1d2024;
}

.word
{
  color:white ;
  margin-left:5%;

}
.box:hover
{
    background-color: #1d2024;
    border: 1px solid white;
   

}